body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: background 1s ease-in-out; 
}

.story-container {
    background: rgba(255, 255, 255, 0.7); 
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 800px;
    height: 150px;
    z-index: 55;
    text-align: center;
    font-family: "Georgia", serif;
    color: black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border: 3px solid #d2b48c;
}
#hiddenStories{
    display: none;
}
textarea {
    width: 100%;
    height: 200px;
    border: none;
    justify-content: center;
    outline: none;
    resize: none;
    background: transparent;
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.6;
    font-family: inherit;
    color: #5a4635;
    transition: opacity 0.6s ease-in-out;
}
