
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-image: url('images/pirate.jpeg'); 
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
    
   
    
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  
        
    
    
    position: relative;
    color: white;
}


#screen1 {
    background-image: url('images/one.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
   
  
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    position: relative;
    z-index: 10;
    
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center; 
}



#screen1-button {
    background: linear-gradient(45deg, #00e1ff, #0078ff);
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0px 5px 15px rgba(0, 225, 255, 0.7);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#screen1-button:hover {
    background: linear-gradient(45deg, #0078ff, #00e1ff);
    box-shadow: 0px 0px 20px rgba(0, 225, 255, 1);
}


#game-container {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 30px 60px; /* Increase horizontal padding for width effect */
    width: 70%; /* Make it take more horizontal space */
    max-width: 900px; /* Wider max width */
    height: auto; /* Keep the height dynamic */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    color: white;
    transform: translate(-50%, -50%);
    
    background-size: cover;
    background-position: center;
}




#story-text {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #e5e5e5;
}


#choices-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    background: linear-gradient(45deg, #0078ff, #00e1ff); 
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

button:hover {
   
    box-shadow:  0px 4px 10px rgba(255, 92, 88, 0.6);
}

button:active {
    
    transform: scale(0.95);
}


@media (max-width: 768px) {
   
    #screen1, #game-container {
        width: 100%;
        padding: 30px;
    }
   

    h1 {
        font-size: 22px;
    }

    #story-text {
        font-size: 16px;
    }

    button {
        font-size: 16px;
        padding: 10px;
    }
}
@media (max-width:1024px){
   
    button{
        font-size: 20px;
    }
    #story-text{
        font-size: 25px;
    }

}
.puzzle-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
   gap: 20px; 
    width: 100%;
    height: 200px; 
}
